**Cleaning & transforming Data Science Job Posting on Glassdoor**

**<font color='green'> 1- Importing required libraries for loading data and cleaning it
</font>**

In [150]:
import pandas as pd
import numpy as np

In [151]:
# Loading data file
file_path = "C:/Users/suzan/Downloads/Uncleaned_DS_jobs.csv"
data = pd.read_csv(file_path)

In [152]:
# Framing data into dataframe and previewing first 4 rows
df = pd.DataFrame(data)
df.head()

,index,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna"
1,1,Data Scientist,$137K-$171K (Glassdoor est.),"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1
2,2,Data Scientist,$137K-$171K (Glassdoor est.),Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group\n3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1
3,3,Data Scientist,$137K-$171K (Glassdoor est.),JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech..."
4,4,Data Scientist,$137K-$171K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"

In [153]:
# Checking the data info 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 672 entries, 0 to 671
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   index              672 non-null    int64
 1   Job Title          672 non-null    object
 2   Salary Estimate    672 non-null    object
 3   Job Description    672 non-null    object
 4   Rating             672 non-null    float64
 5   Company Name       672 non-null    object
 6   Location           672 non-null    object
 7   Headquarters       672 non-null    object
 8   Size               672 non-null    object
 9   Founded            672 non-null    int64
 10  Type of ownership  672 non-null    object
 11  Industry           672 non-null    object
 12  Sector             672 non-null    object
 13  Revenue            672 non-null    object
 14  Competitors        672 non-null    object
dtypes: float64(1), int64(2), object(12)
memory usage: 78.9+ KB

**<font color='green'>2- Cleaning the columns that have irrelative data </font>**

In [154]:
# Remove numbers from the 'Company Name' column
df['Company Name'] = df['Company Name'].str.replace(r'\d+', '', regex=True)  # Removes digits
df['Company Name'] = df['Company Name'].str.replace(r' \.', '', regex=True)  # Removes space followed by period
df.head()

,index,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n.,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna"
1,1,Data Scientist,$137K-$171K (Glassdoor est.),"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n.,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1
2,2,Data Scientist,$137K-$171K (Glassdoor est.),Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group\n.,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1
3,3,Data Scientist,$137K-$171K (Glassdoor est.),JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n.,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech..."
4,4,Data Scientist,$137K-$171K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n.,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"

In [155]:
# Cleaning Salary estimate column 
# Step 1: Remove text in parentheses, `$`, and `K`
df['Salary Estimate'] = df['Salary Estimate'].str.replace(r'\(.*?\)', '', regex=True)  # Remove parentheses and text
df['Salary Estimate'] = df['Salary Estimate'].str.replace(r'[$K]', '', regex=True)     # Remove $ and K
# Step 2: If you need min and max values separately
df['Min Salary'] = df['Salary Estimate'].str.split('-').str[0].astype(int)  # Extract min salary
df['Max Salary'] = df['Salary Estimate'].str.split('-').str[1].astype(int)  # Extract max salary (if available)
df.head()

,index,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Min Salary,Max Salary
0,0,Sr Data Scientist,137-171,Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n.,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna",137,171
1,1,Data Scientist,137-171,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n.,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1,137,171
2,2,Data Scientist,137-171,Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group\n.,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1,137,171
3,3,Data Scientist,137-171,JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n.,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech...",137,171
4,4,Data Scientist,137-171,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n.,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",137,171

**<font color='green'>3- Let's extract some information from job description  </font>**

In [156]:
# Creating a Python column that if the job description of the job require python knowledge 
df["Python"] = df["Job Description"].str.contains(fr'\b{"Python"}\b', case=False, na=False).astype(int)
df["Python"]

0      0
1      0
2      1
3      1
4      1
      ..
667    1
668    0
669    1
670    1
671    1
Name: Python, Length: 672, dtype: int32

In [157]:
# Creating an Excel  column that if the job description of the job require Excel knowledge 
df["Excel"] = df["Job Description"].str.contains(fr'\b{"Excel"}\b', case=False, na=False).astype(int)
df["Excel"]

0      0
1      0
2      0
3      0
4      0
      ..
667    1
668    0
669    0
670    0
671    1
Name: Excel, Length: 672, dtype: int32

In [158]:
# Creating a hadoop  column that if the job description of the job require hadoop knowledge  

df["hadoop"] = df["Job Description"].str.contains(fr'\b{"Hadoop"}\b', case=False, na=False).astype(int)
df["hadoop"]

0      0
1      1
2      0
3      0
4      0
      ..
667    1
668    0
669    1
670    1
671    0
Name: hadoop, Length: 672, dtype: int32

In [159]:
# Creating a company age column to preview the company age which is the difference between current yeaer and year founded
from datetime import datetime
current_year = datetime.now().year # Get the current year
df["Company Age"] = current_year - df["Founded"]
df["Company Age"]

0        31
1        56
2        43
3        24
4        26
       ...
667      35
668    2025
669    2025
670    2025
671      48
Name: Company Age, Length: 672, dtype: int64

In [160]:
# Creating SQL  column that if the job description of the job require SQL knowledge 
df["SQL"] = df["Job Description"].str.contains(fr'\b{"SQL"}\b', case=False, na=False).astype(int)
df["SQL"]

0      0
1      1
2      0
3      1
4      1
      ..
667    1
668    0
669    1
670    0
671    1
Name: SQL, Length: 672, dtype: int32

In [161]:
# Creating aTableau column that if the job description of the job require Tableau knowledge 
df["Tableau"] = df["Job Description"].str.contains(fr'\b{"Tableau"}\b', case=False, na=False).astype(int)
df["Tableau"]

0      0
1      0
2      0
3      0
4      0
      ..
667    1
668    0
669    1
670    0
671    1
Name: Tableau, Length: 672, dtype: int32

In [162]:
# Creating a senior  column that if the job description of the job need senior level
df["Senior"] = df["Job Description"].str.contains(fr'\bSenior\b', case=False, na=False).map({True: "Senior", False: "NA"})
df["Senior"]

0      Senior
1          NA
2          NA
3          NA
4          NA
        ...
667        NA
668        NA
669        NA
670        NA
671        NA
Name: Senior, Length: 672, dtype: object

In [163]:
df.head()

,index,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,...,Competitors,Min Salary,Max Salary,Python,Excel,hadoop,Company Age,SQL,Tableau,Senior
0,0,Sr Data Scientist,137-171,Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n.,"New York, NY","New York, NY",1001 to 5000 employees,1993,...,"EmblemHealth, UnitedHealth Group, Aetna",137,171,0,0,0,31,0,0,Senior
1,1,Data Scientist,137-171,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n.,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,...,-1,137,171,0,0,1,56,1,0,NA
2,2,Data Scientist,137-171,Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group\n.,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,...,-1,137,171,1,0,0,43,0,0,NA
3,3,Data Scientist,137-171,JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n.,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,...,"MKS Instruments, Pfeiffer Vacuum, Agilent Tech...",137,171,1,0,0,24,1,0,NA
4,4,Data Scientist,137-171,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n.,"New York, NY","New York, NY",51 to 200 employees,1998,...,"Commerce Signals, Cardlytics, Yodlee",137,171,1,0,0,26,1,0,NA

In [168]:
df.to_csv('cleaned_file.csv', index=False)